@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Roboto Regular', sans-serif;
    color: #080808;
    font-size: 62.5%;
}

/* Page container */
.container {
    padding: 0 2%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Header */
.header {
    text-align: center;
    padding: 20px 0;
}



.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 200px;
    height: auto;
    margin: auto 0;
}

.icon {
    display: none;
}

/* Navbar */
.navbar {

    margin: 20px 0;
    font-size: 1rem;
    font-weight: bolder;
}

.navbar ul {
    border-top: 2px solid #080808;
    border-bottom: 2px solid #080808;
    padding: 10px 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 2rem;
}

.navbar a {
    color: #080808;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar a:hover {
    color: #e58d41;
}

/* Hero section */
.hero {
    text-align: center;
    margin: 1rem 0;
}

.hero img {
    width: 100%;
    height: auto;
}

.image-container {
    margin: 0 auto;
}

/* Main container */
.container-headings {
    font-family: "Roboto Regular", sans-serif;
    font-size: 3.5rem;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
}

.container-headings::after {
    content: "";
    position: absolute;
    bottom: -0.9375rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2.5rem;
    height: 0.3125rem;
    background-color: #080808;
}

/* Main container - Welcome Dummy section */
.main-container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.content-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2.5rem;
}

.article-image {
    flex: 1;
    max-width: 18.75rem;
    height: auto;
    margin-right: 1.25rem;
}

.article-content {
    flex: 2;
    margin-top: 1rem;
}

.article-content p {
    margin-bottom: 1.25rem;
    font-size: 1rem;
    text-align: justify;
}

button {
    margin: 1rem auto;
}

.read-more {
    display: block;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #080808;
    border: none;
    border: 0.1rem solid #080808;
    font-weight: bold;
    cursor: pointer;

}

/* Main container - Circular images section */
.circular-image {
    border-radius: 50%;
    width: 17.5rem;
    height: 17.5rem;
}

.images-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 4rem;
}

.main-images-container {
    margin-top: 2.5rem;

}

/* History container */
.history-container p {
    font-family: "Roboto Regular";
    margin-top: 2.5rem;
    text-align: justify;
    font-size: 1rem;
}


/* Footer */
.footer {
    text-align: center;
    padding: 0.625rem;
}

.footer p {
    color: #080808;
}

/* Responsive Styles */

@media only screen and (max-width: 1007px) {

    /* For tablets and smaller screens */
    body {
        font-size: 55%;
    }

    /* HEADER */
    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        max-width: 150px;
    }

    .navbar ul {
        display: none;
        margin: 0;
        align-items: center;
    }

    .navbar.open ul {
        display: flex;
        flex-direction: column;
        /* Display items in a column */
        animation: slideDown 0.3s ease-in-out forwards;
    }

    .navbar li {
        margin-bottom: 1rem;
        /* Add spacing between items */
    }

    .icon {
        display: block;
    }

    .icon img {
        width: 2rem;
        height: auto;
    }

    @keyframes slideDown {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* main container */

    .content-container {
        flex-direction: column;
    }

    .container-headings {
        font-size: 2.5rem;
    }

    .article-image {
        margin-right: 0;
        margin-bottom: 1.25rem;
        max-width: 100%;
    }

    .images-container {
        flex-wrap: wrap;
        margin-top: 1.5rem;
        justify-content: space-around;
    }

    .circular-image {
        width: 12rem;
        height: 12rem;
    }


    .main-images-container {
        order: 3;
        margin-top: 0;
    }
}

@media only screen and (max-width: 640px) {

    /* For mobile devices */
    body {
        font-size: 50%;
    }

    .icon {
        display: block;
    }

    .icon img {
        width: 1.4rem;
        height: auto;
    }

    .navbar ul {
        margin: 0;
        flex-direction: column;
        /* Display items in a column */
        align-items: center;
        /* Center items horizontally */
    }

    .navbar li {
        margin-bottom: 1rem;
        /* Add spacing between items */
    }

    .content-container img {
        max-width: 100%;
    }

    .images-container {
        flex-wrap: wrap;
        margin-top: 1.5rem;
        justify-content: center;
    }

    .circular-image {
        margin: 0.5rem 1rem;
        width: 10rem;
        height: 10rem;
    }

    .main-images-container {
        order: 3;
        margin-top: 0;
    }
}